@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(./assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(./assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

* {
  font-family: 'Montserrat', sans-serif;
  /* -webkit-transition: all 500ms cubic-bezier(0.100, 0.440, 0.430, 0.970); 
  -moz-transition: all 500ms cubic-bezier(0.100, 0.440, 0.430, 0.970); 
  -o-transition: all 500ms cubic-bezier(0.100, 0.440, 0.430, 0.970); 
  transition: all 500ms cubic-bezier(0.100, 0.440, 0.430, 0.970); */

  -webkit-transition-timing-function: cubic-bezier(0.100, 0.440, 0.430, 0.970); 
  -o-transition-timing-function: cubic-bezier(0.100, 0.440, 0.430, 0.970); 
  transition-timing-function: cubic-bezier(0.100, 0.440, 0.430, 0.970); /* custom */

  -webkit-transition-duration: 250ms;
  -moz-transtion-duration: 250ms;
  -o-transition-duration: 250m;
  transition-duration: 250ms;
}

.fs-select-container {
  padding: 2em;
  margin-top: 4em;
  background-color: black;
  color: white;
}

/* Light theme */
.fs-select-container.light { background-color: white; color: black; }

.fs-select {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: left;
  z-index: 0;
  color: white;
  /* text-transform: uppercase; */
  /* font-weight: 800; */
  cursor: pointer;
  min-width: 100px;
}

.fs-select::before {
  content: '';
  background-color: #202020;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);

  -webkit-transition: -webkit-transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
  -o-transition: -o-transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
  transition: -webkit-transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
}

.fs-select.fs-active::before {
  /* This value is primarily controlled by Javascript. It's existence here is a fallback */
  -webkit-transform: scale(1, 3);
  -ms-transform: scale(1, 3);
  transform: scale(1, 3);
}

/* fs-select color themes */
.fs-select-container.light .fs-select { color: black; }
.fs-select-container.light .fs-select::before { background-color: #F0F0F0; }

.fs-placeholder {
  position: relative;
  display: block;
  padding: 1em;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);

  -webkit-transition:
    -webkit-transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 370ms,
    text-indent cubic-bezier(0.100, 0.440, 0.430, 0.970) 370ms;
  -o-transition:
    transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 370ms,
    text-indent cubic-bezier(0.100, 0.440, 0.430, 0.970) 370ms;
  transition:
    transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 370ms,
    text-indent cubic-bezier(0.100, 0.440, 0.430, 0.970) 370ms;
}

.fs-placeholder::after {
  /* keyboard down */
  content: '\e313';
  font-family: 'Material Icons';
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fs-select.fs-active .fs-placeholder {
  text-indent: -135%;
}

.fs-options {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1em 0;
}

.fs-options .fs-options-list {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;

  list-style-type: none;
  pointer-events: none;
  z-index: 1;
}

.fs-options-list li {
  padding: 0.3em 1.75em 0.3em 1em;
  color: white;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition:
    opacity cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms,
    -webkit-transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
  -o-transition:
    transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms,
    opacity cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms
  ;
  transition:
    transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms,
    opacity cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms
  ;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

/* Light theme */
.fs-select-container.light .fs-options-list li { color: black; }

.fs-select.fs-active .fs-options-list li {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition:
    opacity cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms,
    -webkit-transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
  -o-transition:
    transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms,
    opacity cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms
  ;
  transition:
    transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms,
    opacity cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms
  ;
}

.fs-options-list li:first-of-type {
  padding-top: 0.8em;
}

.fs-options-list li:last-of-type {
  padding-bottom: 0.8em;
}


/* Animate out delays */
.fs-options li:nth-of-type(1) { -webkit-transition-delay: 0; -o-transition-delay: 0; transition-delay: 0; }
.fs-options li:nth-of-type(2) { -webkit-transition-delay: 0; -o-transition-delay: 0; transition-delay: 0; }
.fs-options li:nth-of-type(3) { -webkit-transition-delay: 0; -o-transition-delay: 0; transition-delay: 0; }
.fs-options li:nth-of-type(4) { -webkit-transition-delay: 0; -o-transition-delay: 0; transition-delay: 0; }
.fs-options li:nth-of-type(5) { -webkit-transition-delay: 0; -o-transition-delay: 0; transition-delay: 0; }

/* Animate out delays */
.fs-select.fs-active .fs-options-list li:nth-of-type(1) { -webkit-transition-delay: -webkit-calc(1 * 0.06s); -o-transition-delay: calc(1 * 0.06s); transition-delay: calc(1 * 0.06s); }
.fs-select.fs-active .fs-options-list li:nth-of-type(2) { -webkit-transition-delay: -webkit-calc(2 * 0.06s); -o-transition-delay: calc(2 * 0.06s); transition-delay: calc(2 * 0.06s); }
.fs-select.fs-active .fs-options-list li:nth-of-type(3) { -webkit-transition-delay: -webkit-calc(3 * 0.06s); -o-transition-delay: calc(3 * 0.06s); transition-delay: calc(3 * 0.06s); }
.fs-select.fs-active .fs-options-list li:nth-of-type(4) { -webkit-transition-delay: -webkit-calc(4 * 0.06s); -o-transition-delay: calc(4 * 0.06s); transition-delay: calc(4 * 0.06s); }
.fs-select.fs-active .fs-options-list li:nth-of-type(5) { -webkit-transition-delay: -webkit-calc(5 * 0.06s); -o-transition-delay: calc(5 * 0.06s); transition-delay: calc(5 * 0.06s); }

/* Hover colors for list elements */
.fs-options-list li:hover { color: #DADADA; }
.fs-select-container.light .fs-options-list li:hover { color: #666666; }

.fs-go-container {
  display: block;
  margin: 2rem;
}

.fs-go {
  display: inline-block;
  font-size: 5em;
  font-weight: 800;
  color: white;
  background-color: black;
  padding: 1rem 7rem;
  cursor: pointer;
  position: relative;

  z-index: 0;

  -webkit-transform: scale(1, 1);

      -ms-transform: scale(1, 1);

          transform: scale(1, 1);
  -webkit-transition: -webkit-transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
  -o-transition: transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
  transition: transform cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
}

.fs-go:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.fs-go::after {
  content: '';
  left: 5px;
  right: 5px;
  bottom: 0;
  top: 100%;
  background-color: rgba(0,0,0,0.15);
  position: absolute;
  -webkit-transition: bottom cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
  -o-transition: bottom cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
  transition: bottom cubic-bezier(0.100, 0.440, 0.430, 0.970) 250ms;
}

.fs-go:hover::after {
  bottom: -5px;
}

.fs-go-sparks {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fs-go-spark {
  width: 200px;
  height: 2px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(50vw);
      -ms-transform: translateX(50vw);
          transform: translateX(50vw);
  z-index: 0;

  visibility: hidden; /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,1)),to(rgba(255,255,255,0)));
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

  -webkit-animation-name: spark;
          animation-name: spark;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.fs-go-spark::before {
  content: '';
  width: 7px;
  height: 7px;
  background-color: white;
  /* border-radius: 50%; */
  position: absolute;
  left: 0;
  top: 1px;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  display: none;
}

.fs-go:hover .fs-go-spark {
  visibility: visible;
}

.fs-go .fs-go-spark:nth-of-type(1) { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.fs-go .fs-go-spark:nth-of-type(2) { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.fs-go .fs-go-spark:nth-of-type(3) { -webkit-animation-delay: 0.8s; animation-delay: 0.8s; }
.fs-go .fs-go-spark:nth-of-type(4) { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.fs-go .fs-go-spark:nth-of-type(5) { -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }

.fs-go span {
  z-index: 1;
}

@-webkit-keyframes spark {
  from { -webkit-transform: translateX(50vw); transform: translateX(50vw); }
  to { -webkit-transform: translateX(-webkit-calc(-50vw - 100%)); transform: translateX(calc(-50vw - 100%)); }
}

@keyframes spark {
  from { -webkit-transform: translateX(50vw); transform: translateX(50vw); }
  to { -webkit-transform: translateX(-webkit-calc(-50vw - 100%)); transform: translateX(calc(-50vw - 100%)); }
}